@import "variable";
@import "mixin";

*{
    @include overal;
}
body{
    background: $bgColor;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;


    
}